body    {
    background-color: burlywood;
}
.border {
    border: solid maroon;
}
.boardFlex  {
    justify-content: center;
    align-items: center;
    display: flex;
}
.flexTitle{
    position: absolute;
    mix-blend-mode: difference;
    color:white;
    font-size: 7em;
} 
i   {
    font-size: 6em;
}
#whiteSide   {
    color: #917921;
}
#blackSide   {
    color: #913421;
}
.whiteBox   {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
}
.blackBox   {
    height: 150px;
    width: 150px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}