/* PAGE SPECIFIC STYLINGS START*/
p   {
    font-size: 2em;
}
/* PAGE SPECIFIC STYLINGS END*/


/*NEW ARRIVALS SECTION START*/ 
#body-shop__cta    { /*LORD THIS LOOKS GOOD*/
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-image: url(../images/wide/BalmainSteps.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
    text-shadow: 0px 0px 5px black,0px 0px 5px black;
}
.page-split__images     {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 50px;
    text-align: center;
    color: #f5f5f5;
}
.page-split__images img     {
    margin-top:50px;
    height: 600px;
    object-fit: cover;
}
/*/*NEW ARRIVALS SECTION END*/ 


/*2X2 ANCHOR START*/
#flex-des__left {
    width:45%;
}
#flex-des__right {
    width:45%;
}
.display-image__size    {
    width: 100%;
}
/*2X2 ANCHOR END*/


/*MEDIA QUEREY START */
@media only screen and (max-width: 800px) {
#home-slideshow__style {
    max-height: 200px;
}
#body-shop__cta {
    margin-top: 10px;
}
#body-shop__cta h2 {
    transform: scaleY(1);
}
.cta-button__style {
    margin-top: 20px;
    min-width: 40%;
    max-height: 60px;
}
.page-split__images {
    margin: 0px 0px 0px 0px;
    height: max-content;
    font-size: .5em;
}
.page-split__images img {
    margin-top: 10px;
    max-height: 150px;
}
}