body    {
    background-image: url("https://st2.depositphotos.com/4890239/7383/v/600/depositphotos_73833213-stock-video-animated-seamless-loop-of-looking.jpg");
}
#landing-title__style   {
    color: white;
    font-family: sans-serif;
}
@keyframes  blink  {
	0% {
        opacity: 0;}
	49% {
        opacity: 0;}
	50% {
        opacity: 1;}
}
#landing-title__style   {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
a   {
    text-decoration: none;
    color: inherit;
}
.landing-select__blink {
    padding: 10px;
}
#house  {
    border-bottom: solid 5px goldenrod;
}
#universe    {
    animation: blink infinite 2s;
    animation-delay: .75s;
}
#shop      {
    animation: blink infinite 2s;
}
.blink-anchor:hover   {
    color: goldenrod;
    text-shadow: #202020 5px 5px 0px;
    animation: forwards 1s;
}
/*oh lorrrr start*/
.lord1 {
text-shadow:  darkred -5px 1px, teal 5px 1px;
letter-spacing: .1em;
}
/*oh lorrrr end*/

@media only screen and (max-width: 800px) {
    body {
        font-size: .6em;
    }
}